<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<form id="contact-form">
					<div class="form-group modal-input">
						<label>Name</label>
						<input name="name" type="text" class="form-control"></input>
					</div>
					<div class="form-group modal-input">
						<label>Phone</label>
						<input name="phone" type="number" class="form-control"></input>
					</div>
					<div class="form-group modal-input">
						<label>Message</label>
						<textarea name="message" rows="5" type="text" class="form-control"></textarea>
					</div>
					<div class="modal-buttons">
						<div></div>
						<button type="submit" class="btn sug-button">Send Message</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
