<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
		<meta charset="utf-8">
		<base href="{{ .Site.BaseURL }}">
		<title> {{ .Title }}</title>

		{{ partial "head_includes.html" . }}
</head>
<body class="site">
	<div class="background">
	</div>

	<nav class="navbar navbar-default">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
				</ul>
				<div class="nav navbar-nav navbar-right">
					<li><a href="#" class="nav-item nav-link"  data-toggle="modal" data-target="#aboutModal">About the Artist</a></li>
					<li><a href="#" class="nav-item nav-link"  data-toggle="modal" data-target="#exhibitionModal">Upcoming Exhibitions</a></li>
					<li><a href="#" class="nav-item nav-link"  data-toggle="modal" data-target="#contactModal">Contact</a></li>
				</div>
			</div><!-- /.navbar-collapse -->
		</div>
	</nav>

	<!-- <div class="navbar navbar-full navbar-dark">
		<div class="container">
			<div class="nav navbar-nav navbar-right">
				<a href="#" class="nav-item nav-link"  data-toggle="modal" data-target="#aboutModal">About the Artist</a>
				<a href="#" class="nav-item nav-link"  data-toggle="modal" data-target="#exhibitionModal">Upcoming Exhibitions</a>
				<a href="#" class="nav-item nav-link"  data-toggle="modal" data-target="#contactModal">Contact</a>
			</div>
		</div>
	</div> -->
	{{ partial "contact-modal.html" . }}
	{{ partial "about-modal.html" . }}
	{{ partial "exhibition-modal.html" . }}
