<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
		<meta charset="utf-8">
		<base href="{{ .Site.BaseURL }}">
		<title> {{ .Title }}</title>

		{{ partial "head_includes.html" . }}
</head>
<body class="site">
	<div class="background">
	</div>

	<div class="navbar navbar-full navbar-dark">
		<div class="container">
			<div class="nav navbar-nav navbar-right">
				<a href="/" class="nav-item nav-link">About the Artist</a>
				<a href="/" class="nav-item nav-link">Upcoming Exhibitions</a>
				<a href="#" class="nav-item nav-link"  data-toggle="modal" data-target="#contactModal">Contact</a>
			</div>
		</div>
	</div>
	{{ partial "contact-modal.html" . }}
